<div class="container">
  <div class="row">
    <div class="col-4">

      <div role="button" *ngFor="let a of categories;let i = index;">
        <div class="row" (click)="chageMails(a.name,a.avatar)">
          <div class="col-2">
            <img src="assets/images/{{a.avatar}}" width="50" height="50" alt="{{a.name}}">
          </div>
          <div class="col-10">
            <b>{{a.name}}</b>
          </div>
        </div>
      </div>

    </div>
    <div class="col-8">
      <div *ngFor="let b of mails;let i = index;" >
        <div>
          <img src="assets/images/{{b.avatar}}" width="100" height="100" alt="{{b.avatar}}">
          <h5>{{b.name}}</h5>
        </div>
        <table class="table table-bordered">
          <tr>
            <th scope="row">Title</th>
            <td>{{b.title}}</td>
          </tr>
          <tr>
            <th scope="row">Hire Date</th>
            <td>{{b.hiredate}}</td>
          </tr>
          <tr>
            <th scope="row">Address</th>
            <td>{{b.address}}</td>
          </tr>
          <tr>
            <th scope="row">City</th>
            <td>{{b.city}}</td>
          </tr>
          <tr>
            <th scope="row">Phone</th>
            <td>{{b.phone}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
